cherrypy
codeclimate-test-reporter
coverage>4.0,<4.4
elasticsearch
httpretty
-e git://github.com/pacifica/pacifica-metadata.git#egg=PacificaMetadata
pep257
pre-commit
pylint<2
pytest
python-dateutil
radon
requests
six
